<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Inmobiliaria</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/main.css" />

    <style>
        html {
            height: 100%;
            width: 100%;
        }
    </style>


</head>
<body style="background-image:url(imagenes/inmo.png); background-repeat: no-repeat; background-size:100% 100%">
    <header>

        <div class="topnav">

            <a class="active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-university"></i> Inmobiliaria Donnatto</a>

            <a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-building-o"></i> Inicio</a>
            <a asp-area="" asp-controller="Usuarios" asp-action="Login"><i class="fa fa-sign-in"></i> Ingresar</a>
            @if (User.IsInRole("Administrador"))
            {
            <a asp-area="" asp-controller="Usuarios" asp-action="Index"><i class="fa fa-address-book-o"></i> Usuarios</a>            }
            @if (User.IsInRole("Administrador") || User.IsInRole("Empleado"))
            {
            <a asp-area="" asp-controller="Propietarios" asp-action="Index"><i class="fa fa-users"></i> Propietarios</a>

                <a asp-area="" asp-controller="Inquilinos" asp-action="Index"><i class="fa fa-address-card"></i> Inquilinos</a>

             <a asp-area="" asp-controller="Inmuebles" asp-action="Index"><i class="fa fa-fw fa-home"></i> Inmuebles</a>

             <a asp-area="" asp-controller="Contratos" asp-action="Index"><i class="fa fa-file-text-o"></i> Contratos</a>

             <a asp-area="" asp-controller="Pagos" asp-action="Index"><i class="fa fa-cc-visa"></i> Pagos</a>

             <a asp-area="" asp-controller="Usuarios" asp-action="Logout"><i class="fa fa-power-off"></i> Cerrar Sesion</a>            }


        </div>

    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Inmobiliaria - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
