@{
    ViewData["Title"] = "Inmobiliaria ";
}

<div class="text-center">
    <h2 class="display-4">Bienvenidos a Inmobiliaria </h2>
    
</div>
<div class="row">



    <ul>
        <h3><a class="nav-link" href="../Inmuebles/Disponibles">Ver Propiedades</a></h3>

    </ul>
    <ul>
        <h3><a class="nav-link" href="../Propietarios">Ver Propietarios</a></h3>

    </ul>
    <ul>
        <h3><a class="nav-link" href="../Inquilinos">Ver Inquilinos</a></h3>

    </ul>
    <ul>
        <h3><a class="nav-link" href="../Contratos">Ver Contratos</a></h3>

    </ul>
    <ul>
        <h3><a class="nav-link" href="../Pagos">Ver Pagos</a></h3>

    </ul>

</div>
