@{ ViewData["Title"] = "Restringido"; }

<h2>Restringido</h2>

<h6 class="alert alert-danger"> ¡Ups! USTED NO TIENE PERMISO PARA ACCEDER !!!! <i class="fa fa-optin-monster fa-5x" aria-hidden="true"></i> </h6>